@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: clamp(13px, 11px + 0.4vw, 16px);
}
:root {
  --themeColorOne: #086ad8;
  --themeColorTwo: #10dce8;
  --white: #fff;
  --sectionBgColor: #d0e8fc;
  --colorBlack: #000000;
  --subTextColor: #666;
}
@keyframes MOVE-BG {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}
/* Common Classes */
.section_heading {
  font-size: 3.125rem;
  font-weight: 700;
  color: var(--colorBlack);
  text-align: center;
  font-family: "Catamaran", sans-serif;
}
.section_heading_subtext {
  line-height: 1.8;
  color: var(--subTextColor);
  font-weight: 400;
  font-size: 0.9375rem;
  text-align: center;
  max-width: 750px;
}
.bar {
  width: 100px;
  height: 5px;
  background-color: blue;
  border-radius: 10px;
  position: relative;
}
.bar::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: #fff;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: MOVE-BG;
}
/* -------- */
body {
  font-family: "Open Sans", sans-serif;
}
.navbar_container {
  padding: 10px 0;
  background-color: var(--white);
}
.navbar_link {
  text-decoration: none;
  color: var(--colorBlack);
}
.home_dropdown {
  position: relative;
}
.home_dropdown_menu {
  opacity: 0;
  position: absolute;
  top: 24px;
  left: 50%;
  background-color: var(--white);
  padding: 20px;
  width: 200px;
  border-radius: 10px;
  transform: translate(-50%, 0);
}
.dropdown_link {
  text-decoration: none;
  color: var(--colorBlack);
}
.dropdown_link:hover {
  color: blue;
}
.service_dropdown {
  position: relative;
}
.service_dropdown_menu {
  opacity: 0;
  position: absolute;
  top: 24px;
  left: 50%;
  background-color: var(--white);
  padding: 20px;
  width: 200px;
  border-radius: 10px;
  transform: translate(-50%, 0);
}
.project_dropdown {
  position: relative;
}
.projects_dropdown_menu {
  opacity: 0;
  position: absolute;
  top: 24px;
  left: 50%;
  background-color: var(--white);
  padding: 20px;
  width: 200px;
  border-radius: 10px;
  transform: translate(-50%, 0);
}
.pages_dropdown {
  position: relative;
}
.pages_dropdown_menu {
  opacity: 0;
  position: absolute;
  top: 24px;
  left: 50%;
  background-color: var(--white);
  padding: 20px;
  width: 200px;
  border-radius: 10px;
  transform: translate(-50%, 0);
}
.blog_dropdown {
  position: relative;
}
.blog_dropdown_menu {
  opacity: 0;
  position: absolute;
  top: 24px;
  left: 50%;
  background-color: var(--white);
  padding: 20px;
  width: 200px;
  border-radius: 10px;
  transform: translate(-50%, 0);
}
.header_section {
  background-color: var(--sectionBgColor);
  height: calc(100vh - 63px);
  padding: 100px 20px 50px 272px;
  background-image: url(./assets/images/cloudImg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  border-bottom: 1px solid rgba(163, 162, 162, 0.478);
}
.header_left_content {
  padding-top: 70px;
}
.main_heading {
  font-family: "Catamaran", sans-serif;
  font-size: 4.375rem;
  font-weight: 700;
  width: 600px;
}
.heading_subtext {
  font-size: 0.9375rem;
  width: 600px;
  color: var(--colorBlack);
  line-height: 1.8;
}
.common_btns {
  gap: 16px;
  margin-top: 30px;
}
.button {
  padding: 14px 35px;
  background-color: var(--themeColorOne);
  border: 0;
  color: var(--white);
}
.btn_bg_change {
  background-color: var(--themeColorTwo);
}
.header_img {
  max-width: 907px;
  width: 100%;
}
.header_img img {
  width: 100%;
}
.girl_img {
  max-width: 170px;
  width: 100%;
  top: -3%;
  left: 22%;
}
.girl_img img {
  width: 100%;
}
.rocket_img {
  max-width: 280px;
  width: 100%;
  top: -3%;
  left: 50%;
  transform: translate(-50%, 0);
}
.rocket_img img {
  width: 100%;
}
.FacingRight_img {
  max-width: 200px;
  width: 100%;
  top: 23%;
  left: 0;
}
.FacingRight_img img {
  width: 100%;
}
.FacingLeft_img {
  max-width: 200px;
  width: 100%;
  top: 23%;
  right: 0;
}
.FacingLeft_img img {
  width: 100%;
}
.creative_features {
  padding: 100px 0;
}
.feature_card {
  gap: 8px;
}
.feature_icon {
  max-width: 70px;
  height: 70px;
  width: 100%;
  background-color: #d1f9fc;
  color: #10dce8;
  border-radius: 50%;
}
.feature_icon i {
  font-size: 30px;
}
.feature_card_titile {
  font-size: 1.375rem;
  font-weight: 700;
  color: var(--colorBlack);
  margin-top: 12px;
}
.creative_feature_lower_area {
  padding-top: 70px;
}
.creative_feature_lower_content {
  margin-top: 60px;
}
.creative_feature_lower_content_heading {
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--colorBlack);
  line-height: 1.2;
}
.creative_feature_lower_content_heading span {
  color: #086ad8;
}
.creative_feature_lower_area .section_heading_subtext {
  text-align: start;
}
.counts {
  font-size: 3.125rem;
  font-weight: 700;
  color: #086ad8;
  font-family: "Catamaran", sans-serif;
}
.counts span {
  font-size: 2.875rem;
}
.subHeading {
  font-size: 1.5625rem;
  font-weight: 700;
  white-space: nowrap;
}
.creative_feature_lower_img {
  position: absolute;
  top: 14%;
  right: 1%;
  max-width: 870px;
  width: 100%;
}
.creative_feature_lower_img img {
  width: 100%;
}
.agency_service_section {
  padding: 100px 0 70px;
  background-image: url(./assets/images/services-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.heding_container {
  margin-bottom: 60px;
}
.serviceCard {
  padding: 30px;
  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
  position: relative;
  z-index: 0;
}
.serviceCard::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 0;
  background: #00b0ee;
  border-radius: 0;
  transition: 0.5s;
  border-radius: 10px;
}
.serviceCard:hover::before {
  height: 100%;
}
.cardIcon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #deb0fe;
  font-size: 30px;
  color: var(--white);
}
.serviceCard .feature_card_titile {
  margin: 25px 0 10px;
}
.service_card_btn {
  color: var(--colorBlack);
  font-size: 0.9375rem;
  font-weight: 600;
}
.serviceCard
  :is(.feature_card_titile, .section_heading_subtext, .service_card_btn) {
  transition: 0.5s;
}
.serviceCard:hover
  :is(.feature_card_titile, .section_heading_subtext, .service_card_btn) {
  color: var(--white);
}
.support_section {
  padding: 100px 0;
}
.supportRight {
  max-width: 636px;
  width: 100%;
}
.supportRight img {
  width: 100%;
}
.supportLeft {
  gap: 15px;
}
.supportLeft_Content {
  gap: 25px;
}
.support_Content_icon {
  font-size: 50px;
  color: #086ad8;
}
.support_Content_text .section_heading_subtext {
  text-align: start;
}
.overView_section {
  padding: 100px 0 70px;
  background-color: #f0f1fe;
}
.icon_container {
  background-color: var(--white);
  border: 1px dashed var(--themeColorOne);
  padding: 5px;
  border-radius: 50%;
}
.icon_bg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: linear-gradient(
    90deg,
    #85edfe,
    #6ee0ff,
    #60d2ff,
    #5fc2ff,
    #6bb1ff
  );
}
.icon_bg i {
  font-size: 30px;
  color: var(--white);
}
.overView .subHeading {
  margin: 20px 0 5px;
}
.choose_us_section {
  padding: 100px 0;
}
.choose_us_lower_content .supportLeft_Content {
  margin: 30px 0;
}
.choose_us_icon {
  width: 70px;
  flex-shrink: 0;
  height: 70px;
  background: linear-gradient(
    90deg,
    #85edfe,
    #6ee0ff,
    #60d2ff,
    #5fc2ff,
    #6bb1ff
  );
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choose_us_icon .support_Content_icon {
  font-size: 30px;
  color: var(--white);
}
.counter_section {
  padding: 100px 0 70px;
  background-image: url(./assets/images/counter-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.counter_card {
  background-color: var(--white);
  padding: 35px;
  border-radius: 10px;
}
.counter_card_icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #e2edfd;
  font-size: 30px;
  color: #086ad8;
}
.counter_card_title {
  font-size: 1rem;
  font-weight: 500;
  color: #666;
}
.project_section {
  padding-top: 100px;
}
.projectImg {
  width: 100%;
  max-width: 465.75px;
}
.projectImg img {
  width: 100%;
  object-fit: cover;
}
.img_content {
  background-color: #0869d8c1;
  opacity: 0;
  justify-content: end;
  transition: 0.5s;
}
.float_text {
  position: absolute;
  top: 55%;
  width: 100%;
  left:0;
  transition: 0.5s;
}
.content_heading {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
}
.content_text {
  font-size: 0.9375rem;
  color: var(--white);
  text-decoration: none;
}
.img_content:hover {
  opacity: 1;
  justify-content: center;
}
.img_content:hover :is(.float_text) {
transform: translateY(-50%);
}
.team_section{
  padding: 100px 0 70px;
}
